#pudlo
    {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
 #tresc
    {
        background-color: lightgray;
        padding: 20px;
        width: 640px;
    }
#linki
    {
        margin-left: auto;
        margin-right: auto;
		background-color: lightgray;
        float: right;
        padding: 20px;
        width: 132px;
    }
