#pudlo
    {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
 #tresc
    {
		background-color: lightgray;
        float: left;
        padding: 20px;
        width: 640px;
    }
